[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/KRISofA2/dotfiles.git
[submodule "gitprompt"]
	path = gitprompt
	url = https://github.com/KRISofA2/gitprompt.git
[submodule "screen-session-attach"]
	path = screen-session-attach
	url = https://github.com/KRISofA2/screen-session-attach.git
