[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/ksteinhoff/dotfiles.git
[submodule "gitprompt"]
	path = gitprompt
	url = https://github.com/ksteinhoff/gitprompt.git
[submodule "screen-session-attach"]
	path = screen-session-attach
	url = https://github.com/ksteinhoff/screen-session-attach.git
